body {
  background: #f8e8a6;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

footer a {
  color: green;
}

img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
  border-radius: 15px;
}